@keyframes jump {
  0% {
    transform: translate(0, 0);
    opacity: 100%;
  }

  50% {
    transform: translate(0, -10px);
    opacity: 0%;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

@keyframes fade {
  0% {
    transform: translate(-1000px, 0);
    opacity: 0%;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

@keyframes fade1 {
  0% {
    transform: translate(0, -1000px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fade2 {
  0% {
    transform: translate(2000px, 0);
    opacity: 0%;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

*,
*::after,
*::before,
h1,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #3d3c3c;
}

.wraper {
  display: flex;
  flex-direction: column;
  /* max-width: 1920px;
  margin: 0 auto; */
}

/* ------------header-------------- */

.header__wraper {
  background-color: #005A7C;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
}

.header__decor-text {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  position: absolute;
  font-weight: 700;
  font-size: 232px;
  line-height: 323px;
  color: rgba(0, 0, 0, 0.13);
  top: 360px;
  left: -350px;
  z-index: 5;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__container {
  height: 100%;
}

.header {
  padding: 35px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.header__nav {
  margin-left: auto;
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  right: 0;
}

.header__btn {
  max-height: 30px;
}

.header__menu {
  width: 1200px;
  min-height: 65px;
  background: rgba(1, 63, 86, 0.5);
  margin-top: 24px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  list-style: none;
  margin: 18px 65px;
}

.header__menu-item {
  display: block;
}

.header__menu-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
  transition: all .5s;
}

.header__menu-link_active {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.header__menu-link:hover {
  color: #fff;
  border-bottom: 2px solid #dd0505;
}

.header__decor {
  position: absolute;
  top: 250px;
  left: 240px;
  z-index: 6;
}


.header__content {
  position: absolute;
  top: 440px;
  z-index: 7;
}

.header__title {
  animation-name: fade2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  display: block;
  font-weight: 700;
  font-size: 125px;
  line-height: 1.5;
  color: #fff;

}

.header__subtitle {
  animation-name: fade1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  display: block;
  line-height: 1.5;
  font-weight: 400;
  font-size: 170px;
  font-family: 'Heebo', sans-serif;
  line-height: 125px;
  color: rgba(255, 255, 255, 0.5);
}

.scroll__btn {
  animation-name: jump;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: block;
  position: absolute;
  bottom: 60px;
  z-index: 15;
}


/* --------------events-------------------- */
.events {
  background-color: #DFE5E8;
  background-repeat: no-repeat;
  background-position: center center;
}

.events__inner {
  position: relative;
}

.events__decor-text {
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 232px;
  line-height: 323px;
  color: rgba(0, 0, 0, 0.13);
  top: -75px;
  left: -350px;
  z-index: 5;
}

.events__title {
  font-weight: 700;
  font-size: 120px;
  line-height: 140%;
  color: #005A7C;
  position: absolute;
  z-index: 7;
}

.events__cards {
  padding-top: 200px;
  padding-bottom: 65px;
}

.events__cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.events__cards-item {
  background-color: #fff;
  box-shadow: 22px 24px 36px -12px rgba(0, 90, 124, 0.29);
  border-radius: 50px;
  min-width: 570px;
  min-height: 341px;
  background-repeat: no-repeat;
  background-position: right center;
  border: 2px dashed #005A7C;
  padding: 35px;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
  opacity: 80%;
}

.events__cards-item:hover {
  transform: scale(1.1);
  opacity: 100%;
}

.events__cards-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  min-height: 70px;
  max-width: 300px;
  margin-bottom: 30px;
}

.events__cards-date,
.events__cards-place {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.events__cards-btn {
  margin-top: auto;
  padding: 12px 31px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1F6288;
  text-decoration: none;
  border: 2px solid #005A7C;
  max-width: 166px;
  height: 50px;
  border-radius: 30px;
  opacity: 0;
  transition: all 1s;
}

.events__cards-item:hover .events__cards-btn {
  opacity: 1;
}

/* -----------Slider--------------------- */

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.slider_inner {
  height: 100vh;
  padding: 110px 0;
  display: flex;
}

.slider__title {
  display: block;
  font-weight: 700;
  font-size: 120px;
  /* line-height: 176px; */
  color: #FFFFFF;
  text-decoration: none;
  margin-top: auto;
}

.swiper-button-next {
  background-image: url("images/arrow-right.svg");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: auto;
  right: 500px;
  left: auto;
  bottom: 50px;
}

.swiper-button-prev {
  background-image: url("images/arrow-left.svg");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: auto;
  right: 610px;
  left: auto;
  bottom: 50px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* -----------Work--------------------- */

.work {
  min-height: 100vh;
  background-color: #CDCBCB;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 10px;
}

.work__inner {
  padding-top: 100px;

}

.work__cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.work__cards-item {
  background-color: #fff;
  box-shadow: 22px 24px 36px -12px rgba(0, 90, 124, 0.29);
  border-radius: 50px;
  min-width: 372px;
  min-height: 547px;
  background-repeat: no-repeat;
  background-position: center top;
  border: 2px dashed #005A7C;
  padding: 35px;
  transition: transform 0.5s;
  opacity: 80%;
  position: relative;
}

.events__cards-item:hover {
  transform: scale(1.1);
  opacity: 100%;
}

.work__cards-title {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
  color: #000000;
  min-height: 70px;
  max-width: 300px;
  margin-top: 370px;
  margin-bottom: 80px;
}

.work__cards-btn {
  margin-top: auto;
  padding: 19px 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #1F6288;
  text-decoration: none;
  border: 2px solid #005A7C;
  width: 230px;
  height: 68px;
  border-radius: 34px;
  transition: all 0.5s;
  position: absolute;
  text-align: center;
  bottom: -34px;
  top: 0;
  right: 0;
  left: calc(50% - 115px);
  background-color: #fff;
}

.work__cards-btn:hover {
  transform: scale(1.1);
  color: #fff;
  text-decoration: none;
  background-color: #005A7C;
}

.work__title {
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 120px;
  color: #616161;
  margin-top: 70px;

}

/* -----------Footer--------------------- */

.footer__wraper {
  height: 85px;
}

.footer {
  font-family: 'Heebo', sans-serif;
  padding-top: 45px;
  flex-wrap: wrap;
  background-color: #005A7C;
  height: 540px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
}

.footer__menu {
  font-family: 'Heebo', sans-serif;
  display: flex;
  width: 50%;
  margin-bottom: 20px;
}

.footer__menu-info {
  width: 50%;
}

.footer__menu-activity {
  width: 50%;
}

.footer__menu-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-item {
  margin-bottom: 15px;
}

.footer__menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #FFFFFF;
}

.footer__contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 75px;
}

.footer__contacts-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer_contacts-addr {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: right;
  max-width: 497px;
  color: #fff;
  margin-bottom: 35px;
}


.footer__contacts-email,
.footer__contacts-tel {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  transition: all .5s;
}

.footer__contacts-email:hover,
.footer__contacts-tel:hover {
  color: #fff;
}


.footer__contacts-btns {
  display: flex;
  gap: 16px;
  align-items: center;
}

.write__us-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #005A7C;
  text-decoration: none;
  background-color: #fff;
  padding: 12px 43px;
  border-radius: 30px;
  border: 1px solid #fff;
  transition: all .5s;
}

.write__us-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #005A7C;
}

.social {
  transition: all .5s;
}

.social:hover {
  opacity: 50%;
}

.agbo-link,
.umpis-link {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-bottom: 10px;
  transition: all .5s;
}

.agbo-link:hover,
.umpis-link:hover {
  color: #fff;
}

/* ----------Copyright----------------- */
.copyright {
  background-color: #013F56;
  height: 65px;
  padding-top: 22px;
}

.copyright__content {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* ----------Template----------------- */
.header__wraper-temp {
  background-color: #013F56;
}

.header-temp {
  padding: 35px 0 22px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.header__menu-temp {
  width: 1200px;
  min-height: 65px;
  background: rgba(255, 255, 255, 0.09);
  margin-top: 24px;
}

/* ----------regist.html----------------- */

.reg__content {
  height: 80vh;
  width: 100%;
  background-color: #1F6288;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.reg__form,
.auth__form {
  width: 100%;
  /* height: 100%; */
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  background-color: #005A7C;
  box-shadow: 22px 24px 36px -12px rgba(0, 90, 124, 0.29);
  border-radius: 50px;
  border: 2px dashed #013F56;
  gap: 30px;
}

.reg__input-item,
.auth__input-item,
.send__input-item {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #005A7C;
  padding: 7px 20px;
  background: #FFFFFF;
  border: 2px solid #013F56;
  border-radius: 30px;
}

.reg__form-btn,
.auth__form-btn {
  width: 30%;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #005A7C;
  text-decoration: none;
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 30px;
  border: 1px solid #fff;
  transition: all .5s;
  margin-left: auto;
  cursor: pointer;
}

.reg__form-btn:hover,
.auth__form-btn:hover {
  color: #fff;
  background-color: #005A7C;
}

/* ----------auth.html----------------- */
.auth__content {
  height: 60vh;
  width: 100%;
  background-color: #1F6288;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ----------send.html----------------- */
.send__content {
  min-height: 80vh;
  width: 100%;
  background-color: #1F6288;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 10px;
}

.send__form {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 22px 24px 36px -12px rgba(0, 90, 124, 0.29);
  border-radius: 50px;
  border: 2px dashed #013F56;
  gap: 30px;
}

.message__text {
  height: 500px;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.send__form-btn {
  width: 30%;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #005A7C;
  text-decoration: none;
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 30px;
  border: 2px solid #013F56;
  transition: all .5s;
  margin-left: auto;
  cursor: pointer;
}

.send__form-btn:hover {
  color: #fff;
  background-color: #005A7C;
}

/* ----------events.html----------------- */
.eventpage__content,
.about__content {
  min-height: 80vh;
  width: 100%;
  background-color: #1F6288;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 60px;
}

.eventpage__cards-list,
.about__cards-list {
  list-style: none;
}

.eventpage__cards-item,
.about__cards-item {
  background-color: #fff;
  box-shadow: 22px 24px 36px -12px rgba(0, 90, 124, 0.29);
  border-radius: 50px;
  border: 2px dashed #005A7C;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  font-size: 24px;
  justify-content: space-between;

}

.eventpage__cards-title,
.about__cards-title {
  margin-bottom: 20px;
}

.eventpage__cards-place,
.about__manager {
  margin-bottom: 60px;
}

.eventpage__cards-text,
.about__cards-text {
  max-width: 650px;
  margin-right: 40px;
}

.about__manager {
  color: #005A7C;
  font-weight: 700;


}
.about__cards-img {
  max-width: 355px;
  border-radius: 10px;
}

.about__contacts-tel {
  width: 100%;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: right;
  color: #005A7C;
  margin-top: 60px;
  transition: all .5s;
}

.map {
	width: 100%;
	height: 500px;
	background-color: #333;
  margin-bottom: 60px;
  border-radius: 50px;
  overflow: hidden;
}

/* [class*="copyrights-pane"] {
	display: none !important;
} */
